<div class="sipoc-dashboard">
  <div class="sipoc-card supplier">
    <h4 style="color:rgba(51, 102, 255, 1);">Suppliers</h4>
    <p style="color:rgba(51, 102, 255, 1);">{{ supplierCount }}</p>
  </div>
  <div class="sipoc-card input">
    <h4 style="color:rgba(40, 167, 69, 1);">Inputs</h4>
    <p style="color:rgba(40, 167, 69, 1);">{{ inputCount }}</p>
  </div>
  <div class="sipoc-card process">
    <h4 style="color: rgba(255, 193, 12, 1);">Processes</h4>
    <p style="color: rgba(255, 193, 12, 1);">{{ processCount }}</p>
  </div>
  <div class="sipoc-card output">
    <h4 style="color:rgba(23, 162, 184, 1);">Outputs</h4>
    <p style="color:rgba(23, 162, 184, 1)">{{ outputCount }}</p>
  </div>
  <div class="sipoc-card customer">
    <h4 style="color:rgba(220, 53, 69, 1);">Customers</h4>
    <p style="color:rgba(220, 53, 69, 1);">{{ customerCount }}</p>
  </div>
</div>
