body {  
    background: #1D1F20;
    padding: 16px;
  }
  
  canvas {
    border: 1px dotted #3366ff;
  }
  
  .chart-container {
    position: relative;
    margin: auto;
    height: 60vh;
    width: 50vw;
  }
  