<button class="mb-2" nbButton hero status="primary" (click)="goToTheDashboard()">Dashboard</button>
<nb-card>
    <nb-card-body>
        <div class="m-2 d-flex justify-content-end">
            <button nbButton hero status="danger" size="small" (click)="goToArchives() ">Archives</button>
        </div>
        <nb-stepper orientation="horizontal">
            <nb-step [label]="labelOne">
                <ng-template #labelOne>Inception</ng-template>
                <h4>Inception Phase</h4>
                <div class="row">
                    <div class="col-md-6">
                        <ngx-list-objectifs></ngx-list-objectifs>
                    </div>
                    <div class="col-md-6">
                        <ngx-list-users></ngx-list-users>

                    </div>
                </div>
                <button nbButton disabled nbStepperNext>prev</button>
                <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step [label]="labelTwo">
                <ng-template #labelTwo>Construction</ng-template>
                <h4>Construction Phase</h4>
                <div *ngIf="this.content === 'features'">
                    <div class="m-2 d-flex justify-content-end">
                        <button nbButton hero status="info" (click)="navigateToIteration()">Iterations</button>
                    </div>
                    <ngx-show-features></ngx-show-features>
                </div>
                <div *ngIf="this.content === 'iterations'">
                    <div class="m-2 d-flex justify-content-end">
                        <button nbButton hero status="info" (click)="navigateToFeature()">Product Backlog</button>
                    </div>
                    <ngx-list-iteration></ngx-list-iteration>
                </div>
                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton nbStepperNext>next</button>
            </nb-step>
            <nb-step label="Transition">
                <h4>Transition Phase</h4>
                <ngx-list-release></ngx-list-release>

                <button nbButton nbStepperPrevious>prev</button>
                <button nbButton disabled nbStepperNext>next</button>
            </nb-step>
        </nb-stepper>
    </nb-card-body>
</nb-card>